@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    overflow-x: hidden;
    outline: none;
    font-family: 'Montserrat', sem serifa;
    background-color: rgb(247, 247, 247);
    /*height: 100%;*/
}

.main{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
}

.logo{
    padding-top: 30px;
    width: 150px;
}

h1{
    padding-top: 14px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 9px;
    color: rgb(53, 53, 53);
    padding-bottom: 5px;
}

h2{
    padding-top: 8px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    width: 370px;
    color: rgb(53, 53, 53);
    padding-bottom: 20px;
    text-align: center;
}

.imagens_mulheres{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center; 
    gap: 10px;
    padding-bottom: 30px;
}

.imagem_mulher_1{
    width: 360px;
    border-radius: 7px
}

.imagem_mulher_2{
    width: 360px;
    border-radius: 7px
}

.imagem_mulher_3{
    width: 360px;
    border-radius: 7px
}

.linha{
    width: 360px;
    height: 1px;
    background-color: rgb(53, 53, 53);
}

.titulo_pagina{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    width: 370px;
    color: rgb(53, 53, 53);
    padding-bottom: 20px;
    text-align: center;
}

.texto_apresentacao{
    text-align: center;
    width: 360px;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

.mulheres_links{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
    width: 400px;
    height: 110px;
    border-radius: 10px;
    gap: 10px;
}

#miniatuta_mulher_1{
    width: 110px;
    height: 110px;
    border-radius: 10px;
    overflow: hidden;
}

.mulher_mim{
    background-size: cover;
    background-position: center; 
    overflow: hidden;
    width: 110px;
}
 

.mulher_img_pequena{
    width: 85px;
    background-size: cover
}

.nome_mulher{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
    width: 260px;
    height: 110px;
    font-size: 27px;
    font-weight: 300;
    border-radius: 10px;
    color: black;
    background-color: rgb(235, 235, 235);
}